.direction-page {
}

.command-container {
  padding: 100px 0 0 0;
}

.key-container {
  padding: 200px 0 0 0;
  bottom: 0;
}

.key {
  background-color: $light-purple;
  width: 50px;
  height: 40px;
}
