.direction-page {
}

.command-container {
  padding: 100px 0 0 0;
}

.direction-page .key-container {
  padding: 200px 0 0 0;
  bottom: 0;
}

.key {
  width: 50px;
  height: 40px;
}

.key-normal {
  background-color: $light-purple;
}

.key-pressed {
  background-color: $purple;
}
