// Colors
$white: #fff;
$whitesmoke: #f4f5f6;

$light-orange: #ffcc80;
$orange: #ffa500;

$lightest-grey: #e5e5e5;
$lighter-grey: #d5d5d5;
$light-grey: #c5c5c5;
$grey: #888;
$dark-grey: #4a4a4a;
$black: #000;

$white-purple: #f5f3f7;
$light-purple: #ce93d8;
$purple: #9c27b0;

$gold: #ffd700;
$lightblue: #add8e6;
