.vowel-key-type-page {
}

.key {
  width: 50px;
  height: 40px;
  border-radius: 5px;
}

.vowel-key-type-page .key-container {
  padding: 150px 0 0 0;
  bottom: 0;
}

.key-normal {
  background-color: $light-orange;
}

.key-pressed {
  background-color: $orange;
}

.vowel-img {
  max-width: 150px;
  max-height: 150px;
}
